.task{
    border: 1px solid dodgerblue;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;

    p{
        font-size: 28px;
        text-transform: uppercase;
        
    }

    button{
        padding: 10px 20px;
        border: none;
        background: red;
        color: white;
        border-radius: 10px;
        cursor: pointer;
    }

    
}

h2{
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    color: red;
}